/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/
:root{
    /*Colores*/
    --primary-color-green: #05be50;
    --second-color-blue: #0039a6;
    --just-white: #FFFFFF;
    --text-grays: #808080;
    --just-black: #000000;
    --soft-white: #faf8f7;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html{
    font-size: 62.5%;
}

header{
    position:relative;
    width:100%;
    min-width:320px;
    height:350px;
    display:flex;
    flex-direction:column;
    align-content:center;
    text-align:center;
    background-image:url("/assets/imagen/Contadores.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

header img{
    width:81px;
    height: 26px;
    margin:20px auto;
    display:flex;
    align-content:center;
    background-repeat:no-repeat;
}

.header-content__text{
    margin-left:10px;
    display:flex;
    flex-direction:column;
    align-content:center;
    padding-top:2px;
    padding-bottom:10px;
    line-height:3rem;
    color: var(--just-white);
    text-align:center;
}

.header-content__text h1{
    margin: 1px auto;
    font-weight:bold;
    font-size:2.4rem;
}
.header-content__text h2{
    margin-top:50px;
    font-weight: 600;
    font-size:1.9rem;
}

.header-content__text p{
    margin-top:20px;
    font-size:1.4rem;
    font-weight:300;
    line-height:1.5rem;
    padding-left:10px;
    color: var(--text-grays);
}
header .header__button{
    position:absolute;
    display:block;
    left:calc(50% - 70px);
    padding:10px 30px;
    border-radius:5px;
    background-color: var(--primary-color-green);
    color:var(--just-white);
    text-decoration:none;
    top:330px;
    font-size:1.6rem;
    font-weight:bold;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border:none;
}

.header__button span{
    display:inline-block;
    width:15px;
    height:10px;
    margin-left:10px;
    background-image: url('/assets/imagen/down-arrow.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}