/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/
:root{
    /*Colores*/
    --primary-color-green: #05be50;
    --second-color-blue: #0039a6;
    --just-white: #FFFFFF;
    --text-grays: #808080;
    --just-black: #000000;
    --soft-white: #faf8f7;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html{
    font-size: 62.5%;
}

header{
    position:relative;
    width:100%;
    min-width:320px;
    height:350px;
    display:flex;
    flex-direction:column;
    align-content:center;
    text-align:center;
    background-image:url("/assets/imagen/Contadores.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

header img{
    width:81px;
    height: 26px;
    margin:20px auto;
    display:flex;
    align-content:center;
    background-repeat:no-repeat;
}

.header-content__text{
    margin-left:10px;
    display:flex;
    flex-direction:column;
    align-content:center;
    padding-top:2px;
    padding-bottom:10px;
    line-height:3rem;
    color: var(--just-white);
    text-align:center;
}

.header-content__text h1{
    margin: 1px auto;
    font-weight:bold;
    font-size:2.4rem;
}
.header-content__text h2{
    margin-top:50px;
    font-weight: 600;
    font-size:1.9rem;
}

.header-content__text p{
    margin-top:20px;
    font-size:1.4rem;
    font-weight:300;
    line-height:1.5rem;
    padding-left:10px;
    color: var(--text-grays);
}
header .header__button{
    position:absolute;
    display:block;
    left:calc(50% - 70px);
    padding:10px 30px;
    border-radius:5px;
    background-color: var(--primary-color-green);
    color:var(--just-white);
    text-decoration:none;
    top:330px;
    font-size:1.6rem;
    font-weight:bold;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border:none;
}

.header__button span{
    display:inline-block;
    width:15px;
    height:10px;
    margin-left:10px;
    background-image: url('/assets/imagen/down-arrow.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

main{
    min-width:320px;
}

.main-product-detail{
    position:relative;
    margin:30px 0;
    width:100%;
    height:auto;
    background-color: var(--just-white);
}
.main-text__blue{
    margin:0 auto;
    padding-top:30px;
    font-size:2.7rem;
    color: var(--second-color-blue);
    font-weight:bold;
    text-align:center;
}

.product-cards--container{
    width:50%;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    min-width:320px;
    color: var(--second-color-blue);

}

.product-detail--card{
    display:flex;
    flex-direction:column;
    align-content:center;
    padding:20px;
    max-width:320px;
    background-color: var(--soft-white);
    margin: 10px auto;
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.product-detail--title{
    padding-top:10px;
    text-align:center;
    font-size:1.5rem;
    font-weight:600;
}
.product-detail--content{
    font-size:1.2rem;
    padding-top:10px;
}

.section-buy-information{
    width:100%;
    margin-top:10px;
    text-align:center;

}

.section-buy-information .information-card{
    height:316px;
    display:flex;
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.section-buy-information .content-cards{
    position:relative;
    width:70%;
    height:230px;
    padding:0 15px;
    min-width:170px;
    max-width:300px;
    margin: 50px 5px 0;
    scroll-snap-align:center;
    background-color:var(--soft-white);
    border-radius:15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    justify-content:center;
}

.content-cards .recommended{
    position:absolute;
    top:-15px;
    width:85px;
    padding:6px;
    height:30px;
    left: calc(50% - 42px);
    background-color: var(--second-color-blue);
    color:var(--just-white);
    font-size:1.2rem;
    border-radius:5px;
    font-weight:bold;
}
.content-cards h3,.text-content{
    color:var(--second-color-blue);
}

.content-cards h3{
    padding-top:30px;
    font-weight: bold;
    font-size:1.2rem;
}
.card-image__content{
    width:50%;
    margin-left:30px;
}

.content-cards .text-content{
    font-weight:normal;
    padding-top:20px;
    font-size:1.0rem;
    flex-wrap:wrap;
}